{% extends "baseAdmin.html.twig" %}
{% block container %}
    <h1>Mail Confirmation</h1>
{% for message in app.flashes('info') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
    {% endfor %}

{{ form_start(form) }}

{{ form_end(form) }}
{% endblock %}